.addEvent {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

.addEvent__title {
  text-align: center;
  margin-top: 0;
}

.addEvent__form {
  display: flex;
  flex-direction: column;
}

.form__data {
  display: flex;
  justify-content: space-around;
}

.form__patientInformation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
}

.inputDiv {
  margin-bottom: 20px;
}

.form__submit {
  margin-top: 50px;
}

.error {
  color: red;
  text-align: center;
}
